.card-history {
  border: 1px solid #707070;
  padding: 5px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #707070;
}
.card__temp {
  margin: 0 5px;
  font-weight: bold;
  color: white;
  height: auto;
  padding: 2px 10px;
  border-radius: 3px;
  background-color: #2396bd;
}

.card-history a {
  margin-top: 20px;
  color: #444444;
}

.card-history a:hover {
  text-decoration: none;
}
